html {
    text-align: center;
}

h1.header {
    font-size: 3em;
    margin: 1em 0;
}

ul.partyRoomStatus {
    list-display-style: none;
    padding: 0;
}

ul.partyRoomStatus li {
    display: inline;
    padding: .5em;
}

ul.partyRoomStatus li.active {
    font-weight: bold;
}
